/node_modules/
/external/
/target/
/webgl2.wasm
/webgl2.debug.wasm
/runner2/Cargo.lock
/out/
/daebug.md
/daebug/
# Ignore temporary test-generated wasm artifacts
debug_*.wasm
wasm_*.wasm
wasm_debug_*.wasm
